/*.loader{*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%,-50%);*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    !*background-color: rgba(0, 0, 0, 0.5);*!*/
/*    background-color: var(--bg-end);*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    !*opacity: 0.5;*!*/


/*}*/

/*.loader{*/
/*    !*grid-column: 1 / 4;*!*/
/*    !*grid-row: 2 / 3;*!*/
/*    position: absolute;*/

/*    !*top: 50%;*!*/
/*    !*left: 50%;*!*/
/*    !*transform: translate(-50%,-50%);*!*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    !*background-color: rgba(0, 0, 0, 0.5);*!*/
/*    background-color: var(--bg-end);*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    opacity: 0.5;*/


/*}*/
.loader{
    grid-column: 1/4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.obj{
    width: 6px;
    height: 40px;
    background: var(--contrast-color);
    margin: 0 3px;
    border-radius: 10px;
    animation: loading 0.8s infinite;
}
.obj:nth-child(2){
    animation-delay: 0.1s;
}
.obj:nth-child(3){
    animation-delay: 0.2s;
}
.obj:nth-child(4){
    animation-delay: 0.3s;
}
.obj:nth-child(5){
    animation-delay: 0.4s;
}
.obj:nth-child(6){
    animation-delay: 0.5s;
}
.obj:nth-child(7){
    animation-delay: 0.6s;
}
.obj:nth-child(8){
    animation-delay: 0.7s;
}


@keyframes loading {
    0%{
        height: 0;
    }
    50%{
        height: 2em;
    }
    100%{
        height: 0;
    }
}
