.page-main {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.playlists {
    width: 100%;
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    justify-content: space-between;
    /*margin-bottom: 3em;*/
}

@media (orientation: portrait) {
    .playlists {
        height: 100%;
        flex-direction: column;
        /*flex-wrap: wrap;*/
    }
    .playlist {
        margin-top: 2em;
        flex-basis: 100%;
        /*display: flex;///*/
        /*justify-content: space-between;*/
        /*margin-bottom: 2em;*/
    }
}