.playlist {
    flex-basis: 49%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.playlist:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
}

.playlist-info {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.playlist-tittle {
    margin: 0;
    font-family: Roboto, sans-serif;
    font-weight: normal;
    line-height: 1em;
    font-size: 1em;
    color: var(--text-color);
}

.playlist-tittle {
    margin: 0;
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 2em;
    color: var(--text-color);
}

.playlist-tittle a {
    text-decoration: none;
    color: var(--text-color);
}

.playlist-tittle a:hover {
    transition: all 0.15s;
    color: var(--contrast-color);
}


.playlist-description {
    margin: 0;
    font-family: Century, serif;
    color: var(--text-color);
    font-weight: normal;
    font-size: 1em;
}

.playlist-video {
    position: relative;
    width: 50%;
    padding-bottom: 30%;
}

.playlist-video iframe {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}