.page-portfolio {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}


