.project {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    font-family: Roboto, sans-serif;
    font-size: 1em;
    color: var(--text-color);
}

.project-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 5%;
}

.project-title {
    font-family: Century Gothic, sans-serif;
    font-size: 2.5em;
    color: var(--contrast-color);
    margin: 0 0 0.4em 0;
}

.project-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 0;
}

.project-date {
    display: block;
}

.project-description span {
    display: block;
}

.project-img {
    width: 50%;
}

@media (orientation: portrait) {
    .project {
        width: 90%;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

    }
    .project-info {
        flex-direction: column;
        align-items: center;
        font-size: 1.7em;
    }

    .project-img {
        width: 100%;
    }
}