.site-main {
    grid-row: 3;
    grid-column: 1 / 3;
}

.tittle {
    flex-basis: fit-content;
    float: left;
    margin: 0;
    font-family: Century Gothic, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5em;
    line-height: 1.2em;
    color: var(--text-color);
}

.tittle b {
    color: var(--contrast-color);
}

.profile-photo {
    /*width: 10%;*/
    /*flex-basis: min-content;*/
    position: absolute;
    bottom: 0;
    /*right: 0;*/
    margin-left: -5%;
    height: 90%;
    max-width: 80%;
}