.page-about {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-family: Century, sans-serif;
    font-size: 1.1em;
    vertical-align: baseline;
    padding-top: 1.5em;
}

.paragraph {
    text-indent: 2em;
    width: 76%;
    margin: auto 0 2em 0;
    text-align: justify;
}

.paragraph span {
    display: block;
    color: var(--text-color);
}

.about-photo {
    margin-left: 1.5em;
    float: right;
    width: 25%;
}

.hobby-list li {
    color: var(--text-color);
    margin-top: 1em;
}

.hobby-list a {
    color: var(--contrast-color);
}

.hobby-list li:before {
    content: "";
    position: relative;
    display: inline-block;
    top: -0.25em;
    width: 0.5em;
    height: 0.5em;
    background-color: var(--contrast-color);
    margin-right: 1em;
    transform: rotate(45deg);
}

@media (orientation: portrait) {
    .paragraph {
        font-size: 1em;
        width: 94%;
    }
}