.page-header {
    grid-row: 1 / 1;
    grid-column: 1 / 4;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: min-content;
    user-select: none;
}

.logo {
    margin: 0;
}

.logo a {
    font-family: Century, sans-serif;
    font-size: 3em;
    line-height: 0.8em;
    color: var(--contrast-color);
    letter-spacing: -0.27em;
    /*cursor: pointer;*/
}

.main-menu {
    display: flex;

}

.menu-item a {
    font-family: Roboto, sans-serif;
    font-size: 1.2em;
    line-height: 1.6em;
    margin-left: 1em;
    opacity: 1;
    color: var(--text-color);
    transition: all 0.4s;
}

.page-header.horizontal .menu-item a:hover {
    transition: all 0.15s linear;
    color: var(--contrast-color);
    border-bottom: 0.1em solid var(--contrast-color);
}

.menu-item a.active {
    color: var(--contrast-color);
}

.page-header.vertical {
    grid-row: 1 / 3;
    flex-direction: column;
    justify-content: normal;
    height: auto;
    margin: 0;
}

.page-header.vertical .main-nav {
    margin-top: auto;
    margin-bottom: auto;

}

.page-header.vertical .main-menu {
    flex-direction: column;
}

.page-header.vertical a {
    margin: 0;
}


.menu-item a::before {
    content: "";
    transition: all 0.25s linear;
}

.page-header.vertical .menu-item a:hover {
    transition: all 0.25s linear;
    border-left: 4px solid var(--contrast-color);
    color: var(--contrast-color);
    padding-left: 20px;
}


@media (orientation: portrait) {
    .page-header {
        width: 100%;
        align-items: center;
        /*height: min-content;*/
    }
}