.page-footer {
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.page-footer.vertical {
    grid-row: 1 / 4;
    grid-column: 3 / 4;
    flex-direction: column;
}

.page-footer.vertical .copyright{
    display: none;
}

.copyright {
    font-size: 1.6rem;
    font-family: Roboto, sans-serif;
    color: var(--text-color);
}

@media (orientation: portrait) {
    .page-footer {
        grid-row: 3 / 4;
        grid-column: 1 / 4;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        font-size: 1.5em;
    }
}