.language-selector {
    color: var(--text-color);
    font-family: Roboto, sans-serif;
    font-size: 1.3em;
    user-select: none;
}

.language-selector span{
    opacity: 0.5;
    cursor: pointer;
}

.language-selector span:hover, input:checked + span{
    opacity: 1;
}

.language-selector input:not(:checked) ~ span:last-child {
    opacity: 1;
}

/*.language-selector input:checked ~ span:last-child {*/
/*    opacity: 0.5;*/
/*}*/

/*.language-selector input:checked + span {*/
/*    opacity: 1;*/
/*}*/