.toggle-button {
    position: relative;
    font-size: 1rem;
    font-weight: normal;
    text-transform: uppercase;
    width: 6em;
    height: 2.5em;
    border-radius: 0.5em;
    overflow: hidden;
    user-select: none;
}

.toggle-button input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-left,
.switch-right {
    /*box-sizing: content-box;*/
    font-family: Roboto, sans-serif;
    cursor: pointer;
    position: absolute;
    height: inherit;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: transparent;*/
    background-color: rgba(126, 126, 126, 0.2);
    color: var(--text-color);
    font-size: 0.75rem;
}

.switch-left {
    /*background-color: transparent;*/
}

.switch-right {
    right: 0;
}

.switch-left::after,
.switch-right::after {
    content: "";
    position: absolute;
    width: 100%;
    height: inherit;
    z-index: 1;
    transition: 0.4s;
    background-size: 60%;
}

.switch-left::after {
    background: var(--contrast-color) url("../../Images/Icons/LightThemeIcon.svg") no-repeat center;
    background-size: 60%;
    fill: black;
    transform: translateY(-2.5rem);
}

.switch-right::after {
    background: var(--contrast-color) url("../../Images/Icons/DarkThemeIcon.svg") no-repeat center;
    background-size: 60%;
}

input:checked ~ .switch-left::after {
    transform: translateY(0);
}

input:checked ~ .switch-right::after {
    /*top: 0;*/
    transform: translateY(-2.5rem);
}