@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    --bg-start: #F2F2F2;
    --bg-end: #4A4A4A;
    --contrast-color: #631E84;
    --text-color: #181818;
}

:root[theme='dark'] {
    --bg-start: #4F4F4F;
    --bg-end: #000000;
    --contrast-color: #FFF044;
    --text-color: #FFFFFF;
}

.root {
    min-height: 100vh;
    box-sizing: border-box;
    padding: 40px 40px 10px 40px;
    display: grid;
    grid-template-columns: 30% 50% 20%;
    /*grid-template-rows: 20% 60% 20%;*/
    grid-template-rows: min-content auto min-content;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-between;*/

    background: linear-gradient(120deg, var(--bg-start) 0%, var(--bg-end) 100%);
    font-size: 1.5vw;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*overflow: hidden;*/
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

@media (orientation: portrait) {
    .root {
        font-size: 1.7rem;
        padding: 10px 10px 20px 10px;
    }
}
