.page-contacts {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.social-media {
    height: 100%;
}
