.sm-btn {
    margin: 0 1em;
    width: 2em;
    height: 2em;
    background-color: var(--bg-start);
    display: inline-block;
    border-radius: 20%;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, .5),
    -6px -6px 12px rgba(255, 255, 255, .1);
    overflow: hidden;
    font-size: 3em;
    transition: .3s linear;
    position: relative;
}

.sm-btn:hover {
    transform: scale(1.3);
    border-radius: 50%;
}

.sm-btn i::before {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background-size: 200% 200%;
    background-position: 75% 75%;
    top: 0;
    left: 0;
    line-height: 2em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background .1s linear;
}

.sm-btn:hover i::before {
    background-position: 0 0;
}

.fa-vk::before {
    background-image: linear-gradient(135deg, #4a76a8 30%, var(--bg-end) 50%);
}

.fa-soundcloud::before {
    background-image: linear-gradient(135deg, #ff6c00 30%, var(--bg-end) 50%);
}

.fa-instagram::before {
    background-image: linear-gradient(135deg, #c32aa3 30%, var(--bg-end) 50%);
}

.fa-youtube::before {
    background-image: linear-gradient(135deg, #d71e18 30%, var(--bg-end) 50%);
}

.fa-gitlab::before {
    background-image: linear-gradient(135deg, #e24329 30%, var(--bg-end) 50%);
}